{% extends "home/base.html" %}

{% block content %}

    <h1> cia yra add person </h1>

    <form method="post">
        {% csrf_token %}
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name">
        <label for="your_last_name"> Last name: </label>
        <input id="your_last_name" type="text" name="last_name">
        <label for="your_birth_day"> Birth day: </label>
        <input id="your_birth_day" type="date" name="birth_day">
        <input type="submit" value="OK">
    </form>

{% endblock %}
